/* The stylesheet */
/* these are a set of attributes for body text */
body {
	margin: 0;
	padding: 15px 20px;
	min-height: 99%;
	width: 100%;
	min-width: 550px;
	color: #73ABAD; /* Gold */
	background: #1A1A1A; /* Dark blue */
	font-family: roboto, monospace;
	overflow-x: hidden;
  }
  
  ::selection {
	color: #000033;
	background-color: #FFA500;
  }
  
  ::-moz-selection {
	color: #000033;
	background-color: #FFA500;
  }
  
  textarea {
	left: -1000px;
	position: absolute;
  }
  
  b {
	font-weight: bold;
	text-decoration: underline;
  }
  
  .cursor {
	font-size: 12px;
	color: #FFA500; /* Orange */
	background-color: #FFA500;
	position: relative;
	opacity: 1;
	height: 1.5em;
	width: 10px;
	max-width: 10px;
	transform: translateY(4px);
	overflow: hidden;
	text-indent: -5px;
	display: inline-block;
	text-decoration: blink;
	animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
	50% {
	  opacity: 0;
	}
  }
  
  #command {
	text-shadow: 0 0 5px #FFA500;
	height: 50px;
	color: #FFA500;
  }
  
  #liner {
	line-height: 1.3em;
	margin-top: -2px;
	animation: show 0.5s ease forwards;
	animation-delay: 1.2s;
	opacity: 0;
  }
  
  #liner::before {
	color: #FFA500; /* Bright green */
	content: "user@tofaramususa.me:~$";

  }
  
  #liner.password::before {
	content: "Password:";
  }
  
  @keyframes show {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }
  
  p {
	display: block;
	line-height: 1.3em;
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	margin: 0;
	letter-spacing: 0.05em;
	animation: typing 0.5s steps(30, end);
  }
  
  .no-animation {
	animation: typing 0 steps(30, end);
  }
  
  .margin {
	margin-left: 20px;
  }
  
  @keyframes typing {
	from {
	  width: 0;
	}
	to {
	  width: 100%;
	}
  }
  
  .index {
	color: #FFA500; /* Gold */
  }
  
  .color2 {
	color:   #7FFF7F; /* Bright green */
  }
  
  .command {
	color: #FFA500; /* Orange */
	text-shadow: 0 0 5px #FFA500; 
  }
  
  .error {
	color:   #7FFF7F; /* Bright green for errors */
  }
  
  .white {
	color: #F0F8FF; /* AliceBlue (very light blue) */
  }
  
  .inherit,
  a {
	color: #FFA500; /* Gold */
  }
  
  a {
	text-decoration: inherit;
  }
  
  a:hover {
	background: #FFA500; /* Orange */
	color: #000033; /* Dark blue */
  }
  
  a:focus {
	outline: 0;
  }